body {
}

.ui.fluid.image.header {
  max-height: 200px;
  margin-bottom: 0;
}

.borderless.inverted.menu.marginless {
  margin-top: 0;
  border-radius: 0;
  background-color: #8C00CC;
}

/*.right.aligned.item.loginButton */
#login-buttons .login-link-and-dropdown-list {
  color: #FFFFFF;
}

