body {
}

.ui.fluid.image.header {
  max-height: 200px;
  margin-bottom: 0;
}

.ui.borderless.inverted.menu.marginless {
  margin-top: 0;
  border-radius: 0;
  background-color: #8C00CC;
}

#login-buttons a, .accounts-dialog a{
  color: #FFFFFF;
}

.School {
  background-color: red;
}
.Family {
  background-color: yellow;
}
.Friends {
  background-color: green;
}
.Other {
  background-color: brown;
}
.Work {
  background-color: blue;
}